{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<div class="box mt-6 p-4 has-text-centered">
    <h1 class="mb-4 mt-4"><span class="purl-title">Purl</span><span class="bot-title">Bot</span></h1>
    <form action="/login" method="post" class="form">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="input form-control mx-auto w-auto" id="email" name="email" placeholder="Edit Email" type="text">
        </div>
        <div class="mb-4">
            <input class="input form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
        </div>
        <div class="mb-4">
            <input class="input form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Retype New Password" type="password">
        </div>
        <button class="mb-4 button is-success" type="submit">Submit</button>
    </form>
    <h2 class="has-text-weight-bold">Edit Saved Patterns</h2>
        <ul>
        </ul>
    <button class="button is-danger">Delete Account</button>
</div>
{% endblock %}
