{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="box has-text-centered">
    <h1 class="mb-4 mt-4"><span class="purl-title">Purl</span><span class="bot-title">Bot</span></h1>
    <form action="/login" method="post" class="form">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="input form-control mx-auto w-auto" id="login-email" name="login-email" placeholder="Email" type="text">
        </div>
        <div class="mb-4">
            <input class="input form-control mx-auto w-auto" id="login-password" name="login-password" placeholder="Password" type="password">
        </div>
        <div class="button-area">
            <button class="button is-success" type="submit">Log In</button>
            <a class="reset" href="/forgot">Forgot Password?</a>
        </div>
    </form>
    <a class="guest-link" href="/">Continue as Guest</a>
</div>
{% endblock %}
