<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/template-styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <title>Forgotten Password Email</title>
</head>
<body>
    <div class="has-text-centered box mt-6">
        <h1 class="mb-5 mt-4 is-size-2 has-text-weight-bold">We received a request to reset the password for your Purlbot account.</h1>
        <h2 class="mb-5 is-size-4">To reset your password, click the link below.</h2>
        <a class="button is-link mb-4" href="{{link}}">Reset Password</a>
    </div>
</body>
</html>