{% extends "layout.html" %}

{% block title %}
    Forgotten Password
{% endblock %}

{% block main %}
<div class="box mt-6 p-4 text-center">
    <h1 class="mb-4 mt-4"><span class="purl-title">Purl</span><span class="bot-title">Bot</span></h1>
    <p class="mb-4">Enter your email and click Submit to receive a password reset email.</p>
    <form action="/forgot" method="post" class="form py-form">
        <div class="mb-4">
            <input class="input form-control mx-auto w-auto" id="email-forgot-password" name="email-forgot-password" placeholder="Email" type="email">
        </div>
        <button class="mb-4 btn btn-success" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
