{% extends "layout.html" %}

{% block title %}
    Saved Patterns
{% endblock %}

{% block main %}
<div class="box has-text-centered">
    <h1 class="bot-title mb-4">Saved Patterns</h1>
    <table class="table m-auto is-striped is-bordered">
        <tr class="is-size-5">
            <th></th>
            <th>Nickname</th>
            <th>Pattern Type</th>
            <th>Gauge</th>
        </tr>
        {% for pattern in foundPatterns %}
        <tr>
            <td>
                <form method="post" action="/saved-patterns">
                    <button class="button is-danger is-small has-text-weight-bold" type="submit">X</button>
                    <input type="hidden" name="pattern-id" value="{{pattern.id}}"></input>
                </form>
            </td>
            <td><a href="/?type={{pattern.type}}&gauge={{pattern.gauge}}">{{pattern.nickname}}</a></td>
            <td>{{pattern.type}}</td>
            <td>{{pattern.gauge}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
